/* Home Page Css*/

#SignupBTN{
  display: flex;
  border: 5px solid black;
  border-radius: 50px;
  color: #00D1FF;
  font-size: 25px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 1%;
}

#SignupBTN:hover{
  border: 5px solid #00D1FF;
  border-radius: 50px;
  color: black;
  background-color: lightgray;
  font-size: 25px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
  cursor: pointer;
}

#Website-logo{
  display: flex;
  border: 5px solid #00D1FF;
  border-radius: 50px;
  width: 200px;
  height: 200px;
  margin-left: 20px;
}


/* Sign Up and Profile page Css*/

#Online-User{
  display: flex;
  font-size: 30px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
  justify-content: center;
}

input {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

input::placeholder{
  padding-left: 1%;
  display: flex;
  font-size: 50px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
  color: black;
}

button {
  font-size: 50px;
  margin: 0px 20px 0px 0px;
  width: fit-content;
  border-radius: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%
}
button:hover{
  display: flex;
  background-color: black;
  border: 2px solid #00D1FF;
  border-radius: 50px;
  color: #00D1FF;
  cursor: pointer;
}

.avatar {
  display: flex;
  border: 2px solid black;
  border-radius: 50px;
  margin-top: auto;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: 1%;
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

#upload-file:hover{
  display: flex;
  cursor: pointer;
}

#SignupBG{
  display: flex;
  width: 600px;
  height: 600px;
  border: 5px solid #00D1FF;
  border-radius: 50px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}



/* Contact Form css */

#ContactPage{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}


#Fullname{
  display: flex;
  width: 50%;
  height: 15%;
  border: 2px solid black;
  border-radius: 50px;
}

#Fullname::placeholder{
  display: flex;
  color: black;
  font-size: 30px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
}

#User_email{
  display: flex;
  width: 100%;
  height: 15%;
  border: 2px solid black;
  border-radius: 50px;
  margin-top: 1%;
}

#User_email::placeholder{
  color: black;
  font-size: 30px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
}

#message{
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 650;
  height: 260%;
  font-size: 25px;  
}

#message::placeholder{
  color: black;
  font-size: 30px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
}
#Submit{
  display: flex;
  width: fit-content;
  margin-top: 1%;
  border: 2px solid black;
  border-radius: 50px;
  color: black;
  font-size: 25px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
}

#Submit:hover{
  border: 2px solid #00D1FF;
  border-radius: 50px;
  color: #00D1FF;
  background-color: #202020;
  font-size: 25px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
  cursor: pointer;
}

#Contact-Page-BG{
  display: flex;
  width: 600px;
  height: 600px;
  border: 5px solid #00D1FF;
  border-radius: 50px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.Offers,
.Wedding,
.Women,
.FootballTops,
.Men,
.Kids{
  display: flex;
  font-size: 30px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

/* Offers page elements Css*/

#special-offers{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
  margin-top: 10%;
}

#including-vouchers{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Rockwell;
  font-weight: 200;
  font-style: italic;
  margin-top: 10%;

}


